<a href="https://colab.research.google.com/github/ovnarayana/Data-science/blob/main/Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# define -100 and find its data type
num = -100
print (num)
print(type(num))

-100
<class 'int'>

# Float

Float values are decimal values
* Eg: -4.5,5.6,7.8,100.2

In [ ]:
#define float 5.6 and find its data type
x = 5.6
print(x)
print(type(x))

5.6
<class 'float'>

In [ ]:
# define -10.5 and find its data type
y = -10.5
print(y)
print(type(y))

-10.5
<class 'float'>

# complex

The numbers of the form 1-jb or a+jb where j are imaginary number (square root of -1)

# Bool

* it is represented in the form of True and False.
* integer value of True is 1
* integer value of False is 0

In [ ]:
# define true and find its data type
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [ ]:
# define true and find its data type
x = False
print(x)
print(type(x))

False
<class 'bool'>

In [ ]:
2 < 3

True

In [ ]:
name = 'narayana'
print(name)
print(type(name))

narayana
<class 'str'>

In [ ]:
name = "narayana"
print(name)
print(type(name))

narayana
<class 'str'>

In [ ]:
#define life's crazy
A = "life's crazy"
print(A)
print(type(A))

life's crazy
<class 'str'>

In [ ]:
#define life's crazy
A = 'life\'s crazy'
print(A)
print(type(A))

life's crazy
<class 'str'>

In [ ]:
# create list to store value a,b,c,d,e,f
A = ['a','b','c','d','e','f']
print (A)
print(type(A))

['a', 'b', 'c', 'd', 'e', 'f']
<class 'list'>

In [ ]:
mix = ['sql', 1000, True, 3+4j,6.7]
print (mix, print(type(mix)))

<class 'list'>
['sql', 1000, True, (3+4j), 6.7] None

In [ ]:
A =  [10,20,30,40,50]
A [1] ="twenty"
print(A)

[10, 'twenty', 30, 40, 50]

In [ ]:
A = {100,200,300,400}
A