<a href="https://colab.research.google.com/github/ovnarayana/Data-science/blob/main/Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data

Collection of information or facts.

# Types of data
* Numeric
* Boolean
* Strings

--------------
* Lists
* tuples
* set
* dict

# Numeric

Numeric data are represented in the form of numbers.
* integer
* float
* complex

# Integer
positive and negative whole numbers including zero in a number line

* Eg: -5,-4,-3,-2,-1,0,1,2,3,4

In [1]:
# define integer -100 and find its data type
num = -100
# print: function used to print the value of variables
print (num)
#type: it is used to find types of data
print(type(num))

-100
<class 'int'>

In [2]:
# define -100 and find its data type
value = -100
print(value)
print(type(value))

-100
<class 'int'>

In [3]:
print(value, type(value))

-100 <class 'int'>

# Float

Float values are decimal values
* Eg: -4.5,5.6,7.8,100.2

In [ ]:
#define float 5.6 and find its data type
x = 5.6
print(x)
print(type(x))

5.6
<class 'float'>

In [ ]:
# define -10.5 and find its data type
y = -10.5
print(y)
print(type(y))

-10.5
<class 'float'>

# complex

The numbers of the form 1-jb or a+jb where j are imaginary number (square root of -1) Eg: 3+4j, 5-6j

In [4]:
#define 4+6j and find data types
a = 4 + 6j
print(a)
print(type(a))

(4+6j)
<class 'complex'>

# Bool

* it is represented in the form of True and False.
* integer value of True is 1
* integer value of False is 0

In [ ]:
# define true and find its data type
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [ ]:
# define true and find its data type
x = False
print(x)
print(type(x))

False
<class 'bool'>

In [ ]:
2 < 3

True

# String
Srings are text of data which are made up of sequence of characters.

* SQL, datascience, Shivani, Google

# Types of strings
* Single line string
* Multiline string

# Single line string

* string defined in single line
* to define single line strings use either single quote('') or double quotes(" ").

In [ ]:
#define your name and find its data type
name = 'narayana'
print(name)
print(type(name))

narayana
<class 'str'>

In [ ]:
name = "narayana"
print(name)
print(type(name))

narayana
<class 'str'>

In [ ]:
#define life's crazy
A = "life's crazy"
print(A)
print(type(A))

life's crazy
<class 'str'>

In [ ]:
#define life's crazy
A = 'life\'s crazy'
print(A)
print(type(A))

life's crazy
<class 'str'>

#Multiline strings

* string written in multiple lines(paragraph)

* Multiline strings are defined using triple single quotes("") or triple double (""" """)

In [5]:
text =''' the concept of data in the context of computing has its roots in the work of claude shannon, an american mathematician known as the father of information theory.'''
print(text)
print(type(text))

 the concept of data in the context of computing has its roots in the work of claude shannon, an american mathematician known as the father of information theory.
<class 'str'>

In [6]:
text = """the concept of data in the context of computing has its roots in the work of claude shannon, an american mathematician known as the father of information theory."""
print(text)
print(type(text))

the concept of data in the context of computing has its roots in the work of claude shannon, an american mathematician known as the father of information theory.
<class 'str'>

# Datastructures
Used to store multiple values of different data types.

# Types

* List
* Tuple
* set
* dict

# List

it is a datastructure used to store multiple values.

# How to create list

Using [ ]we create list

In [8]:
# create list to store values 100,200,300,400,500
A = [100,200,300,400,500]
print(A)
print(type(A))

[100, 200, 300, 400, 500]
<class 'list'>

In [ ]:
# create list to store value a,b,c,d,e,f
A = ['a','b','c','d','e','f']
print (A)
print(type(A))

['a', 'b', 'c', 'd', 'e', 'f']
<class 'list'>

In [9]:
A = ['a, b, c, d']
print(A)
print(type(A))

['a, b, c, d']
<class 'list'>

In [ ]:
#create list to store sql , 1000, true,3+4j, 6.7
mix = ['sql', 1000, True, 3+4j,6.7]
print (mix, print(type(mix)))

<class 'list'>
['sql', 1000, True, (3+4j), 6.7] None

# properties of list

1. Lists are Ordered: Elements of list takes a fixed position. indexing and slicing(fetching elements possible).
2. Lists are Multible: List elements can be modified (change, add, delete)
3. lists allow duplicates: list can have repeated values.

In [10]:
# mutable
# change 300 as 3000
A =[100,200,300,400]
# index =[0,1,2,3] #indexing starts with 0
#fetch 300
A[2]= 3000
print(A)

[100, 200, 3000, 400]

In [11]:
list(enumerate(A)) #index of evry element

[(0, 100), (1, 200), (2, 3000), (3, 400)]

In [ ]:
A =  [10,20,30,40,50]
A [1] ="twenty"
print(A)

[10, 'twenty', 30, 40, 50]

# Tuple
Tuples are used to store multiple values.

# How to create Tuple

use() to create tuple

In [13]:
# create tuple to store 1000,2000,3000,4000
A = (100,200,300,4000)
print (A)
print(type(A))

(100, 200, 300, 4000)
<class 'tuple'>

In [23]:
# create tuple of skills python, sql, R, Java using tuple function
skills =('python', 'sql', 'R', 'Java')
print(skills)
print(type(skills))

('python', 'sql', 'R', 'Java')
<class 'tuple'>

In [24]:
skills[1]

'sql'

# Properties of Tuples
* Tuples are ordered: Elements in tuple have fixed positions(indexing and slicing possible)
* Tuples are Immutable(no changes can be done once create)
* Tuple allows duplicates

In [15]:
A =(100,200,300,400)
# change 200 as sql
A[1] = 'sql'

TypeError: 'tuple' object does not support item assignment

# List vs tuple

Lists are mutable but tuples are immutable

# Sets

Sets are collection of unique elements

# how to create set?
Sets are create using{}

In [16]:
# create set to store values 10,20,30,40.5,60,70,80,90
A ={10,20,30,40.5,60,70,80,90}
print(A)
print(type(A))

{70, 40.5, 10, 80, 20, 90, 60, 30}
<class 'set'>

In [25]:
A[2]

TypeError: 'set' object is not subscriptable

Properties of sets

1. Sets are unordered: it takes random places(No indexing and slicing).
2. Sets are Mutable(add,remove) but set elements are immutable (change them)
3.Sets doesn't allow duplicates

In [18]:
A = {1,2,1,11,1,111,2}
print(A)

{1, 2, 11, 111}

# dict
it is one of the data structure used to store values in key-value pair(key:value)

# Properties

* Dict are ordered
* Dict are mutable
* No repeatative keys
* There can be repeatative values

# Ways
* {Key:value}

In [19]:
# name is zara , age= 24 , job=HR, salary=40000
info = {'name': 'zara', 'age': 24, 'job': 'HR', 'salary': 40000}
print(info)
print(type(info))

{'name': 'zara', 'age': 24, 'job': 'HR', 'salary': 40000}
<class 'dict'>

In [20]:
# name is zara , age= 24 , job=HR, salary=40000
info = {'name': 'zara', 'age': 24, 'job': 'HR', 'salary': 40000, 'salary': 90000}
print(info)
print(type(info))

{'name': 'zara', 'age': 24, 'job': 'HR', 'salary': 90000}
<class 'dict'>

In [21]:
df = {'name': 'Jeevitha', 'place': 'Bangalore', 'product' :['Phone', 'Mic', 'Bag'] }
print(df)

{'name': 'Jeevitha', 'place': 'Bangalore', 'product': ['Phone', 'Mic', 'Bag']}

In [22]:
df['product']

['Phone', 'Mic', 'Bag']