<a href="https://colab.research.google.com/github/ovnarayana/Data-science/blob/main/Function_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Functions

* A functions is a block of reusable code that performs a specific task. it is not tied to any object.

* Functions are like standalone tools that you can use to do a specific task.

Eg: len,print

In [ ]:
A = "Python"
len(A)

6

In [ ]:
B = [1,2,3,4,5,6,7]
len(B)

7

In [ ]:
A = {1,2,3,4,5,6,7}
print(A)
len(A)

{1, 2, 3, 4, 5, 6, 7}

7

In [ ]:
C = {1, 0, True, False, 97,'a','TRUE'}
print(C)
print(len(C))

{0, 1, 97, 'TRUE', 'a'}
5

# Functions

* print
* type
* len
* sum
* int
* float
* str
* list
* set
* tuple
* dict
* help
* input
* range
* round
* max
* min
* abs
* enumerate
* Zip
* eval
* exec
* bool

# print

* it is a function used to display value

In [ ]:
print("hello")

hello

In [ ]:
a = 10
print(a)

10

In [ ]:
A = [10,20,30]
print(A)

[10, 20, 30]

# Type

type is function used to find type of object

In [ ]:
a = 3
type(a)

int

In [ ]:
A=[1,2,3,4,5]
type(A)

list

In [ ]:
name='venkat'
type(name)

str

# len,   max,  min, sum
* len: It is a function used to find number of elements/characters of object
* max: It is a function used to find maximum element.
* min: It is a function used to find minimum element
* sum: It is a function used to find sum of elements

In [ ]:
A = 'python'
len(A) # number of characters

6

In [ ]:
B = [10,20,30,40,50]
print("len:", len(B))
print("Max:", max(B))
print("min:", min(B))
print("sum:", sum(B))

len: 5
Max: 50
min: 10
sum: 150

In [ ]:
B = [10,20,30,40,50]
print(len(B))
print(max(B))
print(min(B))
print(sum(B))

5
50
10
150

In [ ]:
B = [10,20,30,40,50]
print(max(B))
print(min(B))

50
10

In [ ]:
B = [10,20,5,30,40,50]
print(len(B))
print(max(B))
print(min(B))
print(sum(B))

6
50
5
155

In [ ]:
B = [10,10.0,20.5,30,40.2,50,50.0]
print( len(B))
print( max(B))
print(min(B))
print( sum(B))

7
50
10
210.7

In [ ]:
# Tuple
B = (10,20,30,40,50)
print("len:", len(B))
print("max:", max(B))
print("min:", min(B))
print("sum:", sum(B))

len: 5
max: 50
min: 10
sum: 150

In [ ]:
# set
B = {10,20,30,40,50}
print("len:", len(B))
print("max:",max(B))
print("min:",min(B))
print("sum:", sum(B))

len: 5
max: 50
min: 10
sum: 150

In [ ]:
B = [10,20,30,"A",50]
print(len(B))

5

In [ ]:
print( max(B))
print(min(B))
print( sum(B))

TypeError: '>' not supported between instances of 'str' and 'int'

#int,float,str,bool,complex

#int

In [ ]:
#int
'''
1. used to create integer value
2. to convert float to int
3. to convert bool to int'''

a = int(4)
print(a)
print(type(a))

4
<class 'int'>

In [ ]:
# convert float to int
# 4.3
int(4.3)

4

In [ ]:
int(4.9)

4

In [ ]:
# convert boolean into int
int(True)

1

In [ ]:
int(False)

0

In [ ]:
# we cannot convert complex to integer
int(3+4j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [ ]:
# we cannot convert string into int
int('venkat')

ValueError: invalid literal for int() with base 10: 'venkat'

In [ ]:
# string integer '123' can be converted into integer
a = '123'
print(a, type(a))
b = int('123')
print(b,type(b))

123 <class 'str'>
123 <class 'int'>

In [ ]:
# string float '13.5' cannot be converted into string
int('13.5')

ValueError: invalid literal for int() with base 10: '13.5'

# int
* float --> int
* bool --> int
* str int'123'--> int
* complex and string cannot be converted into integer
* str float'13.5' cannot be converted into integer

# float

In [ ]:
'''
1. float used to create decimal value
2. int can be converted into float
3. boolean can be converted into float
4. string and complex cannot be converted into float
5. '123' and '13.4' can be connverted into float '''

a = float(3.4)
print(a)

3.4

In [ ]:
# int can bee connverted intoo float
float(4)

4.0

In [ ]:
# boolean can be converted into float
float(True)

1.0

In [ ]:
float(False)

0.0

In [ ]:
#'123' and '13.4' can be converted into float
float('123')

123.0

In [ ]:
float('13.4')

13.4

In [ ]:
# complex to float
float(3+4j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [ ]:
# string to float
float('hello')

ValueError: could not convert string to float: 'hello'

# float
* int --> float
* bool --> float
* complex, string to float is not possible
* int,float within string can be converted into float

# bool

In [ ]:
# boolean values are True and False
a = bool(True)
print(a)

True

In [ ]:
#
print(bool(10))
print(bool(1.4))
print(bool('hello'))
print(bool(3+4j))
print(bool([1,2,3,4]))

True
True
True
True
True

In [ ]:
print(bool(0))
print(bool(False))
print(bool())
print(bool(""))
print(bool([]))
print(bool(None))
print(bool(()))
print(bool({}))
print(bool(set()))

False
False
False
False
False
False
False
False
False

#complex

In [ ]:
a =  complex(3+4j)
print(a)

(3+4j)

In [ ]:
# int to complex
complex(3)

(3+0j)

In [ ]:
# float to complex
complex(True)

(1+0j)

In [ ]:
# string to complex not possible
complex('hello')

ValueError: complex() arg is a malformed string

In [ ]:
# STRING INT to complex
complex('3.4')

(3.4+0j)

In [ ]:
#string float to complex
complex(3.4)

(3.4+0j)

# COMPLEX
* int --> complex
* float --> complex
* boolean --> complex
* int string,float string --> complex
* string cannot be converted into complex

#str

In [ ]:
# create string
name = str('venkat')
print(name, type(name))

venkat <class 'str'>

In [ ]:
# int to str
a =  str(2)
print(a, type(a))

2 <class 'str'>

In [ ]:
# float to str
b =  str(2.5)
print(b, type (b))

2.5 <class 'str'>

In [ ]:
#bool to str
c =  str(True)
print(c, type(c))

True <class 'str'>

In [ ]:
# complex to str
c =  str(3+4j)
print(c, type(c))

(3+4j) <class 'str'>

# Order of data types

str --> complex --> float --> int --> bool

# input
* input is function used to take inputs from user. By default it takes string from users

In [ ]:
name = input("enter the name: ")
print(name, type(name))

In [ ]:
a = input()
#print(a,type(a))

In [ ]:
a = input()
print(a, type(a))

#int(input())

Used to take only integers

In [3]:
# used to take integer input from user
a = int(input("enter a: "))
b = int(input("enter b: "))
print(a+b)

enter a: 56
enter b: 58
114

In [4]:
# float will not be taken by int(input())
a = int(input("enter a: "))
b = int(input("enter b: "))
print(a+b)

enter a: 56
enter b: 89
145

# float(inptut())

Used to take bpth integers and float from users

In [2]:
a = float(input("enter a: "))
b = float(input("enter b: "))
print(a+b)

enter b: 25
50.0

In [7]:
# bool (input())
a = bool(input())
print(a)

40.2
True

In [8]:
# complex (input())
a = complex(input())
print(a, type(a))

56
(56+0j) <class 'complex'>

# How to take list, tuple,set,dict as inputs

In [19]:
# eval (input())
# by default it takes tuple
# taking list from user
A = eval(input())
print(A, type(A))

[89,56,558]
[89, 56, 558] <class 'list'>

In [21]:
# taking set from user
A = eval(input())
print(A, type(A))

{56,52,23,56}
{56, 52, 23} <class 'set'>

In [24]:
# taking dict from user
A = eval(input())
print(A, type(A))

{'name':'venkat'}
{'name': 'venkat'} <class 'dict'>

In [18]:
# taking int from user
A = eval(input())
print(A, type(A))

96
96 <class 'int'>

In [25]:
# taking float from user
A = eval(input())
print(A,type(A))

50.2
50.2 <class 'float'>

In [26]:
# taking boolean from user
A = eval(input())
print(A,type(A))

True
True <class 'bool'>

In [27]:
# taking complex from user
A = eval(input())
print(A,type(A))

3+4j
(3+4j) <class 'complex'>

In [30]:
# taking string from user
A = eval(input())
print(A,type(A))

"hello"
hello <class 'str'>

In [31]:
# when we input 1,2,3,4,5,6 it will default get stored as tuple
A = eval(input())
print(A, type(A))

1,2,3
(1, 2, 3) <class 'tuple'>

In [32]:
# string : input()
# int : int(input())
# float : float(input())
# complex : complex(input())
# bool : bool(input())
# list,tuple,set,dict : eval(input())

# eval

In [33]:
# used to evaluate string expression
eval('10+10*2-400+100')

-270

In [34]:
eval('10**2')

100

# help

In [35]:
# help: It is a funtion used get details about functions
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [36]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [37]:
help(int)

Help on class int in module builtins:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original int
 |      and with a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length=1, byteorder='big', *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.  Default
 |        is length 1.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder='big', *, signed=False)
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.  Default is to use 'big'.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

# exec

In [38]:
a = 10
b = 20
print(a+b)

30

In [40]:
exec('a=10 \nb=20 \nprint(a+b)')#\n --> new line

30

In [41]:
a = 10
b = 20
c = 20
print(a+b+c)

50

In [42]:
exec('a=10 \nb=30 \nc=20 \nprint(a+b+c)')

60

# range
* range is a function used generate numbers

In [43]:
# generate numbers from 0 to 9
list(range(10)) #end value not included

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
tuple(range(10)) #end value not included

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [45]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [46]:
# generate numbers from 1 to 10(included)
# range(start_value, end_value+1)
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
# generate numbers from 30 to 45(included)
list(range(30,46))

[30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [2]:
# generate 3,6,9,12,15,18,21,24,27,30
# range(start, end+1, step)
print(list(range(3,31,3)))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [3]:
# generate 11,22,33,44,55,66,77,88
list(range(11,89,11))

[11, 22, 33, 44, 55, 66, 77, 88]

# enumerate

In [4]:
# used to find index of each character or element
A = 'python'
list(enumerate(A))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [5]:
A =[10,20,30,40]
list(enumerate(A))

[(0, 10), (1, 20), (2, 30), (3, 40)]

In [6]:
A =(10,20,30,40)
list(enumerate(A))

[(0, 10), (1, 20), (2, 30), (3, 40)]

# Round

* function Used to round number to specific decimal place

In [7]:
# 34.567834
# round to 3 decimal places
a = 34.567834
round(a, 3)

34.568

In [8]:
b = 45.67234
# round to 4 decimal places
round(b, 4)

45.6723

In [9]:
round(23)

23

In [10]:
round(48)

48

# abs

Used to convert negative number to positive

In [11]:
abs(-40)

40

In [12]:
abs(20)

20

In [13]:
abs(-100)

100

# list, tuple,set,dict

In [14]:
# list
A = list((1,2,3,4))
print(A)

[1, 2, 3, 4]

In [15]:
# tuple
A = tuple((1,2,3,4))
print(A)

(1, 2, 3, 4)

In [16]:
# set
A = set((1,2,3,4))
print(A)

{1, 2, 3, 4}

In [17]:
# dict
A = dict({'name':'Jeevitha', 'age': 30})
print(A)

{'name': 'Jeevitha', 'age': 30}

In [18]:
# tuple to list
list((1,2,3,45))

[1, 2, 3, 45]

In [19]:
 #list to tuple
 tuple([1,2,3,4])

(1, 2, 3, 4)

In [20]:
# set to list
list({1,2,3,4})

[1, 2, 3, 4]

In [21]:
# set to tuple
tuple({1,2,3})

(1, 2, 3)

In [22]:
# list to set
set([1,2,3])

{1, 2, 3}

In [23]:
# tuple to set
set((1,2,3))

{1, 2, 3}

In [24]:
# explore
dict([1,2,3,4])

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [25]:
dict((1,2,3,4))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [26]:
dict({1,2,3,4})

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [27]:
A={'name':'A', 'age': 30}

In [28]:
list(A)

['name', 'age']

In [29]:
tuple(A)

('name', 'age')

In [30]:
set(A)

{'age', 'name'}

# Methods

* Method is always associalted with some objects to do certain task

# list

1. Lists ordered
2. List allow duplicates
3. Lists are Mutable
* List elements can be changed
* New elements can be added
* elements can be delete

How we can change List elements using indexing and slicing?

In [31]:
A = [1,2,3,4,5,6,7,8]
# Change 2 as two
A[1] = 'two'
print(A)

[1, 'two', 3, 4, 5, 6, 7, 8]

In [32]:
# change 4 as four
A[3] = 'four'
print(A)

[1, 'two', 3, 'four', 5, 6, 7, 8]

In [33]:
# change 5 as five, 6 as six and 7 as seven
A[4:7] = "five","six","seven"
print(A)

[1, 'two', 3, 'four', 'five', 'six', 'seven', 8]

In [34]:
A =[100,200,600,700,800]
# change 200 as  200,300,400,500
A[1]=[200,300,400,500]
print(A)

[100, [200, 300, 400, 500], 600, 700, 800]

In [35]:
#[100,200,300,400,500,600, 700, 800
A =[100,200,600,700,800]
A[1:2] = [200,300,400,500]
print(A)

[100, 200, 300, 400, 500, 600, 700, 800]

In [36]:
# [200]=[200,300,400,500]

How to add new elements into list

* append
* insert
* extend

# append

Append is a method associated with list used to add an element into list at the end.

In [38]:
colours = ['blue', 'green','red','yellow','orange']
# add pink at the end of the list
colours.append('pink')
print(colours)

['blue', 'green', 'red', 'yellow', 'orange', 'pink']

In [39]:
# add black at the end of list
colours.append('black')
print(colours)

['blue', 'green', 'red', 'yellow', 'orange', 'pink', 'black']

In [40]:
A =[100,200,300,400]
# add 500 at the end
A.append(500)
print(A)

[100, 200, 300, 400, 500]

# Insert

* it is a method used to insert new element at specific index position.

In [41]:
# variable.insert(index_num,value)
B = [100,200,400,500,600,700]
# insert 300 after 200
B.insert(2 , 300)
print(B)

[100, 200, 300, 400, 500, 600, 700]

In [42]:
B

[100, 200, 300, 400, 500, 600, 700]

In [43]:
# insert hello after 400
B.insert(4,"hello")
print(B)

[100, 200, 300, 400, 'hello', 500, 600, 700]

In [47]:
# insert True after 600
# B.insert(7,True)
B.insert(-3,True)
print(B)

[True, 100, 200, 300, 400, 'hello', 500, 600, True, True, True, 700]

# Extend
* it is a method used add multiple elements of list into another list at the end.(combining two list)

In [48]:
A = [1,2,3,4]
B = [5,6,7,8]
# add all B elements into A at the end
A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 7, 8]

In [49]:
A

[1, 2, 3, 4, 5, 6, 7, 8]

In [50]:
B

[5, 6, 7, 8]

In [51]:
B.extend(A)

In [52]:
print(B)

[5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [53]:
A = [1,2,3,4]
B = [5,6,7,8]
A+B # new list created bby using both list elements

[1, 2, 3, 4, 5, 6, 7, 8]

In [55]:
A = [1,2,3,4,5]
# add 100,200,300,400 after 5
A.extend([100,200,300,400])
print(A)

[1, 2, 3, 4, 5, 100, 200, 300, 400]

# Delete list elements
 * remove
 * pop
 * del
 * clear

 # remove

 remove is a method which is used to delete specific element by its name.

In [56]:
skills = ["python","sql","R","ML","Java","html"]
# remove Java
skills.remove('Java')
print(skills)

['python', 'sql', 'R', 'ML', 'html']

In [57]:
A = [100,200,300,400,50000,600]
# remove 50000
A.remove(50000)

In [58]:
print(A)

[100, 200, 300, 400, 600]

#Pop

* it remove last element by default

In [59]:
skills =["python","sql","R","ML","Java","html"]
skills.pop()
print(skills)

['python', 'sql', 'R', 'ML', 'Java']

# pop

Used to remove element based on index

In [60]:
skills = ["python","sql","R","ML","Java","html","java"]
# remove ML
# skillz.pop(index_no)
skills.pop(3)
print(skills)

['python', 'sql', 'R', 'Java', 'html', 'java']

In [61]:
skills = ["python","sql","R","ML","Java","html","java"]
# remove first Java
skills.pop(-3)
print(skills)

['python', 'sql', 'R', 'ML', 'html', 'java']

# del

Used to delete elements using indexing and slicing

In [62]:
skills =["python","sql","R","ML","Java","html","Java"]
#remove first Java
del skills[4]
print(skills)

['python', 'sql', 'R', 'ML', 'html', 'Java']

In [63]:
skills =["python","sql","R","ML","Java","html","java"]
# remove sql,R,ML
del skills[1:4]
print(skills)

['python', 'Java', 'html', 'java']

In [64]:
# remove sql,ml,html
skills = ["python","sql","R","ML","java","html","java"]
del skills[1:6:2]
print(skills)

['python', 'R', 'java', 'java']

In [65]:
A = [1,2,3,4]
# delete entire list
del A

In [66]:
print(A)

NameError: name 'A' is not defined

# Clear
Used to remove all the elements and end results is empty list

In [67]:
A = [1,2,3,4,5,6]
A.clear()
print(A)

[]

# count

Use to count the occurance of elements

In [69]:
A = ["sql","R","sql","sql","python","R"]
# count of sql
A.count("sql")

3

In [70]:
len(A)

6

In [71]:
A=[10,20,30,40,50,60,50]
#count of 50
A.count(50)

2

# index

index is method used to find index of element

In [72]:
A = [100,200,"sql",500,"hello",600]
# index of hello
A.index('hello')

4

In [73]:
A.index(500)

3

# sort

sort is a method used to arrange elements in increasing or decreasing order.

In [74]:
A = [10,2,300,40,5000,60,400000]
# sort in increasing
A.sort()
print(A)

[2, 10, 40, 60, 300, 5000, 400000]

In [75]:
A =[10,2,300,40,5000,60,4000000]
# sort in decresing
A.sort(reverse=True)
print(A)

[4000000, 5000, 300, 60, 40, 10, 2]

# Reverse

it reverse the elements of list

In [76]:
A = [10,2,300,40,5000,60,400000]
A[::-1]

[400000, 60, 5000, 40, 300, 2, 10]

In [77]:
A =[10,2,300,40,5000,60,4000000]
A.reverse()
print(A)

[4000000, 60, 5000, 40, 300, 2, 10]

# Nested list

In [78]:
# List within list
A = [1,2,[3.4,5.6],[True,False],"sql"]
print(A)

[1, 2, [3.4, 5.6], [True, False], 'sql']

In [79]:
# fetch sql
A[-1]

'sql'

In [80]:
# fetch true false
A[3]

[True, False]

In [82]:
# fetch true
A[3][0]

True

# Tuple
* Ordered
* Immutable
* Allows duplicates

* Note:

changing , adding , deleting is not possible in Tuple bcoz tuples are Immutable.

In [83]:
# index
A = (100,200,300,400)
# find index of 300
A.index(300)

2

In [84]:
#count
A = (100,200,200,200,300,400)
# count of 200
A.count(200)

3

In [85]:
# nested tuple:tuple inside tuple
A =((1,2,3),(4,5,6))
A

((1, 2, 3), (4, 5, 6))

# Sets

* Unordered
* No duplicates
* sets are Mutable and set elements are immutable.

In [86]:
# set elements cannot be changed since set elements are immutable
A= {1,2,3,4}
A

{1, 2, 3, 4}

# Sets are Mutable

add random element and remove random element

# add

We can add element into set at random place

In [87]:
A = {100,200,300,400,500}
# add hello into A
A.add("hello")
print(A)

{400, 100, 500, 'hello', 200, 300}

In [89]:
A = {100,200,300,400,500}
# add 100000
A.add(100000)
print(A)

{400, 100000, 100, 500, 200, 300}

# delete set element
* remove
* pop
* discard
* clear

# remove

Used to remove specific element by its name

In [90]:
A = {10,20,'hello',40,50,'sql'}
# remove hello
A.remove('hello')
print(A)

{50, 10, 20, 40, 'sql'}

# discard

Used to remove specific

In [95]:
A = {10,20,'hello',40,50,'sql'}
# remove hello
A.discard("hello")
print(A)

{50, 10, 20, 40, 'sql'}

In [96]:
A = {10,20,'hello',40,50,'sql'}
# remove 50
A.discard(50)
print(A)

{10, 20, 'hello', 40, 'sql'}

remove v/s discard

In [97]:
A ={10,20,'hello',40,50,'sql'}
# remove python
A.remove('python')

KeyError: 'python'

In [98]:
A ={10,20,'hello',40,50,'sql'}
# remove python
A.discard('python')

# remove v/s discard
* Both are used to remove values by its name
* remove throws an error when an element is not found.
* Discard will not throw any error if something is not found.

# pop
Used  to remove random element from set

In [99]:
A = {10,2000,3000,40000,50}
A.pop()
print(A)

{2000, 50, 3000, 10}

# Union
returns all the elements from two sets

In [100]:
A = {1,2,3,4}
B = {4,5,3,6}
A.union(B) #A|B

{1, 2, 3, 4, 5, 6}

# Intersection

Common elements from sets

In [101]:
A = {1,2,3,4}
B = {4,5,3,6}
A.intersection(B) #A&B

{3, 4}

# difference

In [102]:
#A-B: all the elements of A which are not in B
A.difference(B)

{1, 2}

In [103]:
# B-A
B.difference(A)

{5, 6}

# Dict

In [2]:
info = {"name":"Ridaa","Age":25, "Place": "Banglore"}
print(info)

{'name': 'Ridaa', 'Age': 25, 'Place': 'Banglore'}

# .key
used to get keys

In [108]:
info.keys()

dict_keys(['name', 'Age', 'Place'])

# .values

Used to get values

In [109]:
info.values()

dict_values(['Ridaa', 25, 'Banglore'])

# .items

it gives tuple of key-value

In [4]:
info.items()

dict_items([('name', 'Ridaa'), ('Age', 25), ('Place', 'Banglore')])

In [3]:
# fetch Ridaa
info['name']

'Ridaa'

In [5]:
# Change name as your name
info['name']='venkat'

In [6]:
print(info)

{'name': 'venkat', 'Age': 25, 'Place': 'Banglore'}

# Get

method used get value of key

In [7]:
info['name']

'venkat'

In [9]:
info.get('name')

'venkat'

In [10]:
# get place name
info.get('place')

In [12]:
# get place name
info.get('place')
print(info)

{'name': 'venkat', 'Age': 25, 'Place': 'Banglore'}

In [16]:
info.get('Place')

'Banglore'

In [15]:
info.get('Age')

25

In [19]:
A=["venkata"]
A[0].count('a')

2

In [20]:
info ={'name':'ridaa','Age':25,'place':'Banglore'}
print(info)

{'name': 'ridaa', 'Age': 25, 'place': 'Banglore'}

# Update

Used to update the existing key_value pair

In [21]:
info ={"name":"ridaa","Age":25,"place":"Banglore"}
print(info)

{'name': 'ridaa', 'Age': 25, 'place': 'Banglore'}

In [23]:
# change Age as 30
info.update({'Age':30})
print(info)

{'name': 'ridaa', 'Age': 30, 'place': 'Banglore'}

In [24]:
# update can be used to add new key value pair
# add exp=3
info.update({'exp':3})

In [25]:
info

{'name': 'ridaa', 'Age': 30, 'place': 'Banglore', 'exp': 3}

# setdefault:

It is used to add new key-value pair

In [26]:
# company_name - Google
info.setdefault('company_name','Google')

'Google'

In [27]:
info

{'name': 'ridaa',
 'Age': 30,
 'place': 'Banglore',
 'exp': 3,
 'company_name': 'Google'}

In [28]:
# salary-50000
info.setdefault('salary', 50000)

50000

# Update v/s setdefault

* Update is used to add new key-value pair: it is used add update key value

* Set default is used to add new key-value pairs: using this we cannot update keys

In [29]:
# add skills = ['python','sql'], job = 'Analyst'
info.update({'skills':["python","sql"],'job':"Analyst"})

In [30]:
info

{'name': 'ridaa',
 'Age': 30,
 'place': 'Banglore',
 'exp': 3,
 'company_name': 'Google',
 'salary': 50000,
 'skills': ['python', 'sql'],
 'job': 'Analyst'}

# Delete
* pop
* pop item
* del
* clear

In [31]:
# pop: used to remove specific element
# remove exp
# variable.pop(key)
info.pop('exp')

3

In [32]:
info

{'name': 'ridaa',
 'Age': 30,
 'place': 'Banglore',
 'company_name': 'Google',
 'salary': 50000,
 'skills': ['python', 'sql'],
 'job': 'Analyst'}

In [33]:
# popitem: It is used to remove the last key-value pair
info.popitem()

('job', 'Analyst')

In [34]:
info

{'name': 'ridaa',
 'Age': 30,
 'place': 'Banglore',
 'company_name': 'Google',
 'salary': 50000,
 'skills': ['python', 'sql']}

In [35]:
# clear: removes all keyvalue pairs
info.clear()

In [36]:
info

{}

In [37]:
#del removes varialble too
del info

In [38]:
info

NameError: name 'info' is not defined

# pop v/s popitem

* pop removes specific key-value pair
* popitem removes last element

# String methods

In [39]:
A = 'data science'

In [40]:
##len of string
len(A)

12

In [41]:
# upper: It can be used to convert string into upper case
A.upper()

'DATA SCIENCE'

In [42]:
# lower : used to convert upper case to lower case
A.lower()

'data science'

In [44]:
# capitalise: It converts first letter to upper case
A.capitalize()

'Data science'

In [45]:
# title: Each word first letter should be capital
a = "times of india"
a.title()

'Times Of India'

In [46]:
# swapcase : It converts lower case to upper case and Vice versa.
a = "aBCd"

In [47]:
a.swapcase()

'AbcD'

In [48]:
#isupper: Is all characters are in upper case it gives True else False
B = "ABC"
print(B.isupper())

True

In [49]:
B = 'abc'
print(B.isupper())

False

In [51]:
B = "Abc"
print(B.isupper())

False

In [52]:
# is lower: If all characters are in lower case ,it gives True else false
A = 'hello'
A.islower()

True

In [53]:
# isalpha:It returns true if all characters are alphabets else false
A = 'abx'
A.isalpha()

True

In [54]:
B="abc123"
B.isalpha()

False

In [55]:
# isdigit : It returns True if all characters are numbers else false
A='1234'
A.isdigit()

True

In [56]:
B = "abc123"
B.isdigit()

False

In [57]:
# count: It is used to find count of character or word
A = "python is easy only if we practice more python problems"
# count of python
A.count('python')

2

In [58]:
# count of python irrespective of case
A.lower().count('python')

2

In [59]:
A.upper().count('PYTHON')

2

In [60]:
# index: it gives index position of first characters when we have repeated ones
A = "Python is easy"
# find index of o
A.index('o')

4

In [61]:
A ="Python is easy"
# find index of z
A.find('z')

-1

1. similarity: Both find and index are used to find index values
2. difference: index gives error when character is not present;
3. but find doesn't give any error instead it gives -1

In [62]:
# split: It splits string over a space/character and gives list of strings
A = "Life is crazy"
#output:['Life','is','crazy']
A.split() #splitting over space

['Life', 'is', 'crazy']

In [63]:
B = "Ridaa,Zara,john,Mary"
#['Ridaa','Zara','John','Mary']
B.split(',')

['Ridaa', 'Zara', 'john', 'Mary']

In [66]:
C = 'John@20@HR'
#['John','20','HR']
C.split('@')

['John', '20', 'HR']

In [67]:
# join: It is used to combine list elements into a string
A = ["Sql","is","easy"]
''.join(A)

'Sqliseasy'

In [68]:
A = ["Sql","is","easy"]
' '.join(A)

'Sql is easy'

In [69]:
A = ["Sql","is","easy"]
'-'.join(A)

'Sql-is-easy'

In [70]:
B =['hello','world','good','evening']
', '.join(B)

'hello, world, good, evening'

In [71]:
C = ['1','2','a']
''.join(C)

'12a'

In [72]:
# strip: It is used to remove white spaces or the special characters before and after string.
A = "       python sql       "
A.strip()

'python sql'

In [73]:
B = "******python sql*********"
B.strip('*')

'python sql'

In [74]:
C = '(2024)'
C.strip("()")

'2024'

In [75]:
D = '**********@@@@@@@@Python is easy%%%%%%%%%%%$$$$$$$$$$'
D.lstrip('*@%$')

'Python is easy%%%%%%%%%%%$$$$$$$$$$'

In [76]:
D = '**********@@@@@@@@Python is easy%%%%%%%%%%%$$$$$$$$$$'
D.rstrip('*@%$')

'**********@@@@@@@@Python is easy'

# Combine string

In [77]:
A = "data"
B = "science"
print(A+B)
print(A+" "+B)
print(A+"-"+B)

datascience
data science
data-science

# format

Used to combine string and number together

In [80]:
a = int(input())
b = int(input())
c = a+b
# sum of 10 and 20 is 30
print(f"sum of{a} and {b} is {c}")

10
300
sum of10 and 300 is 310

In [81]:
a = int(input())
b = int(input())
c = a+b
# sum of 10 and 20 is 30
print(f"sum of {a} and {b} is {c}")

12
20
sum of 12 and 20 is 32

In [82]:
a=10
b = 20
print(f"sum:{a+b}")

sum:30

In [83]:
a = int(input())
b = int(input())
c = a+b
# sum of 10 and 20 is 30
print("sum of {} and {} is {}".format(a,b,c))
print(f"sum of {a} and {b} is {c}")

100
200
sum of 100 and 200 is 300
sum of 100 and 200 is 300