<a href="https://colab.research.google.com/github/ovnarayana/Data-science/blob/main/Loops_and_iterations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops

A loop in programming is a way to repeat a set of instructions or actions multiple times without writing the same code over and over again. it's like telling the computer:

"Hey,keep doing this task until you're told to stop!"

In [ ]:
# print hello 5 times
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello

In [ ]:
a = 3
print(a**2)

In [ ]:
colors =["blue","green","orange","yellow","pink"]
# fetch 1st element
colors[0]

'blue'

In [ ]:
colors[1]

'green'

Imagine

* printing hello 100 times
* finding square of 100 numbers
* fetching all the elements of list one by one

Without a loop, you'd have to write the same code repeatedly. With a loop, you can write the instructions once, and the computer will handle the repetition for you.

## Types of loops

* For loop
* whileloop

# fOR LOOP

A for loop is a type of loop in progamming that repeats a block of code for each item in a collection (like a list,tuple,set,dict,range of numbers, or string). it's great for when you know how many times you want to repeat an action.

# How does a for loop work?

The for loop goes through each item in a sequence(e.g., a list or a range) one at a time and runs the code inside the loop for each item.


```
for item in collection:
  print(item)
```

In [ ]:
# loop through a list
A = [10,20,30,40]
for x in A:
  print(x)

10
20
30
40

In [ ]:
# looping through tuple
B = ("blue", "green","pink")
for x in B:
  print(x)

blue
green
pink

In [ ]:
# looping through tuple
B =("blue","green","pink")
for x in B:
  print(x)

blue
green
pink

In [ ]:
# loop through set
A = {1,2,3,4}
for x in A:
  print(x)

1
2
3
4

In [ ]:
# loop through string
text ="python"
for x in text:
  print(x)

p
y
t
h
o
n

In [ ]:
# loop through dict
A = {'name':'Jeevitha','age':30}
for x in A.values():
  print(x)

Jeevitha
30

In [ ]:
# get items
A={'name':'Jeevitha','age':30}
for x in A.items():
  print(x)

('name', 'Jeevitha')
('age', 30)

In [ ]:
# print first 5 numbers
for x in range(1,6):
  print(x)

1
2
3
4
5

In [ ]:
# print first 30 numbers
for x in range(1,31):
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
A = [1,2,3,4,5,6,7,8,9,10]
# print only even numbers
for x in A:
  if x%2==0:
    print(x)

2
4
6
8
10

In [ ]:
A =[1,2,3,4,5,6,7,8,9,10]
# print only odd numbers
for x in A:
  if x%2!=0:
    print(x)

1
3
5
7
9

In [ ]:
# classify numbers as even and odd
A = [1,2,3,4,5,6,7,8]
for x in A:
  if x%2==0:
    print(f"{x} is even")
  else:
    print(f"{x} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even

In [ ]:
# print only positives
A = [10,-20,-30,-40,-50,60,70]
for x in A:
  if x > 0:
    print(x)

10
60
70

In [ ]:
# print only negatives
A = [10,-20,-30,-40,-50,60,70]
for x in A:
  if x<0:
    print(x)

-20
-30
-40
-50

In [ ]:
# classify numbers as positive,negative zero
numbers = [10,-20,30,50,60,0,80,-70,0,-50]
for x in numbers:
  if x>0:
    print(f"{x} is Positive" )
  elif x==0:
    print(f"{x} is Zero" )
  else:
    print(f"{x} is Negative" )

10 is Positive
-20 is Negative
30 is Positive
50 is Positive
60 is Positive
0 is Zero
80 is Positive
-70 is Negative
0 is Zero
-50 is Negative

In [ ]:
# palindromes
# vowels

In [ ]:
A = [1,2,3,4,5,6]
# find square of each number
for x in A:
  print(x**2)

1
4
9
16
25
36

In [ ]:
# write a program to find sum of elements in a list
A = [1,2,3,4,5,6,7,8,9,10]
sum(A)

55

In [ ]:
# write a program to find sum of elements in a list
A =[1,2,3,4,5,6,7,8,9,10]
sum = 0
for x in A:
  sum = sum + x
print (sum)

55

In [ ]:
# Write a program to find sum of first 30 natural numbers[1 to 30(included)]
num = int(input())
sum =0
for x in range(1,num+1):
  sum = sum+x
print(sum)

10
55

In [ ]:
# write a program to find sum of first 20 even numbers
num = int(input())
sum = 0
for x in range(1,num+1):
  if x%2 == 0:
    sum = sum+x
  print(sum)

20
0
2
2
6
6
12
12
20
20
30
30
42
42
56
56
72
72
90
90
110

In [ ]:
list(range(2,41,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [ ]:
# 1/1^2 + 1/2^2 +1/3^2 + 1/4^2 + 1/5^2 = 1/x^2 , x=[1,2,3,4,5]
sum = 0
for x in range(1,6):
  sum = sum+1/(x**2)
print(sum)

1.4636111111111112

In [ ]:
# 1/1^3 + 1/2^2 +1/3^3 + 1/4^2 +1/5^3
sum = 0
for x in range(1,6):
  if x%2 ==0:
    sum = sum+1/(x**2)
  else:
    sum = sum+1/(x**3)
print(sum)

1.357537037037037

In [ ]:
'''
x=1:odd
sum = 0+1/1**3=1
----------------
x=2:even
sum = 1+1/2**2
'''

'\nx=1:odd\nsum = 0+1/1**3=1\n----------------\nx=2:even\nsum = 1+1/2**2\n'

In [ ]:
# write a program to find sum of digit 1234
#1234=10
digit = int(input())
str_digit= str(digit) #converting digit into string so that we can loop
sum =0
for x in str_digit:
  sum = sum+int(x)
print(sum)

55
10

In [ ]:
'1 2 3 4'.split()

['1', '2', '3', '4']

In [ ]:
# write a program to find product of first 10 numbers
A = [1,2,3,4,5,6,7,8,9,10]
prod = 1
for x in A:
  prod = prod * x
print(prod)

3628800

In [ ]:
# write a program to find factorial of 5
# 5! = 5*4*3*2*1
# 4! = 4*3*2*1
n=int(input())
if n==0 or n==1:
  print(f"factorial of {n} is 1")
else:
  fact = 1
  for x in range(1,n+1):
    fact = fact*x
  print(fact)

10
3628800

In [ ]:
'''
*
**
***
****
*****
****** '''
for x in range(1,7):
  print(x *'*')

*
**
***
****
*****
******

In [ ]:
'a'*3

'aaa'

In [ ]:
'''
1
22
333
4444
55555
666666 '''
for x in range(1,7):
  print(x*str(x))

1
22
333
4444
55555
666666

In [ ]:
'2'*2

'22'

In [ ]:
'3'*3

'333'

In [ ]:
# can you find occurence of each character in Almabetter
# output = {A:1,1:1,m:1,a:1,b:1,e:2,t:2,r:1}
text = 'Almabetter'
empty_dict={}
for x in text:
  empty_dict[x]=text.count(x)
print(empty_dict)

{'A': 1, 'l': 1, 'm': 1, 'a': 1, 'b': 1, 'e': 2, 't': 2, 'r': 1}

In [ ]:
# {'a':2, 'l':1, 'm':1,'b':1,'e':2,'t':2,'r':1}
text = 'Almabetter'
empty_dict = {}
for x in text:
  empty_dict[x.lower()]=text.lower().count(x.lower())
print(empty_dict)

{'a': 2, 'l': 1, 'm': 1, 'b': 1, 'e': 2, 't': 2, 'r': 1}

In [1]:
A ={}
A['name']='jeevitha'
print(A)

{'name': 'jeevitha'}

In [2]:
A = 'Almabetter'
A.count('e')

2

In [4]:
# write a program to find count of upper chars and lower chars
text = 'Data Science is Easy'
count_upper=0
count_lower=0
count_space=0
for x in text:
  if x.isupper():
    count_upper+=1
  elif x.islower():
    count_lower+=1
  else:
    count_space+=1
print(count_upper)
print(count_lower)
print(count_space)

3
14
3

In [5]:
A = 'PYTHON'
A.isupper()

True

In [7]:
A = 'PYTHoN'
A.islower()

False

In [8]:
B = 'python'
B.islower()

True

# Nested for loops

for loop inside for loop

In [9]:
A = [[1,2],[3,4],[5,6]]
#loop through A
for x in A:
  print(x)

[1, 2]
[3, 4]
[5, 6]

In [14]:
A =[[1,2],[3,4],[5,6]]
for x in A:
  for y in x:
    print(y)

1
2
3
4
5
6

In [17]:
for x in A:
  print(x)
  for y in x:
    print(y)

[1, 2]
1
2
[3, 4]
3
4
[5, 6]
5
6

In [18]:
A =[[1,2],[3,4],[5,6]]
# find sum
sum =0
for x in A:
  for y in x:
    sum +=y
print(sum)

21

In [19]:
# nested for loop
A = ["day1","day2","day3"]
B = ["Mon","Tues","wed"]
# day1,mon,day1,tues,day1,wed
for x in A:
  for y in B:
    print(x,y)

day1 Mon
day1 Tues
day1 wed
day2 Mon
day2 Tues
day2 wed
day3 Mon
day3 Tues
day3 wed

In [20]:
A = [[1,2],[3,4],[5,6]]
for x,y in A:
  print(x)
  print(y)

1
2
3
4
5
6

In [21]:
data = [[100 ,0.2],[200,0.1],[300,0.3],[120,0.4]]
# find discount price = price - price*discount
for price,discount in data:
  discount_price = price-price*discount
  print(discount_price)

80.0
180.0
210.0
72.0

In [24]:
A=[[1,2,3],[4,5,6]]
for x,y,z in A:
  print(x)
  print(y)
  print(z)

1
2
3
4
5
6

In [25]:
# nested for loop
A = ["day1","day2","day3"]
B = ["mon","tues","wed"]
list(zip(A,B))

[('day1', 'mon'), ('day2', 'tues'), ('day3', 'wed')]

In [26]:
for x,y in zip(A,B):
  print(x,y)

day1 mon
day2 tues
day3 wed

# Break

Break in for loop stops the iteration when certain condition is met.

In [27]:
A = ["red","green","blue","orange"]
# stop the loop when it takes blue
for x in A:
  if x=='blue':
    break
  print(x)

red
green

In [28]:
B = [100,200,300,500,600]
# Stop the loop when values is greater than 400
for x in B:
  if x>400:
    break
  print(x)

100
200
300

In [29]:
# first palindrome in the list
word = ["war","sql","python","nosql","level","legal","wow","mom"]
for x in word:
  if x==x[::-1]:
    print(x)
    break

level

In [31]:
# second palindrome in the list
word = ["war","sql","python","nosql","level","legal","wow","mom"]
count=0
for x in word:
  if x==x[::-1]:
    count+=1 #count=count+1
    if count==2:
       print(x)
       break

wow

In [32]:
# word = ["war","sql","abcabc","python","dad","nosql","level","legal","wow","mom"]
# find only first and second palindrome
word = ["war",'sql','abcabc',"python","dad","nosql","level","wow","mom"]
count=0
for x in word:
  if x==x[::-1]:
    count+=1
    if count==1:
      print(x)
    elif count==2:
      print(x)
      break

dad
level

# Continue

## Continue:
it skip the iteration for given condition and it will continue

In [33]:
A = [10,-2,3,-5,-6,7,-8]
#print only positive numers
for x in A:
  if x>0:
    print(x)

10
3
7

In [34]:
A = [10,-2,3,-5,-6,7,-8]
# print only positive numbers
for x in A:
  if x<0: # if number is negative skip
    continue
  print(x)

10
3
7

In [35]:
'''
x=10
---> 10
x= -2
-------
x=3
---> 3
-------
'''

'\nx=10\n---> 10\nx= -2\n-------\nx=3\n---> 3\n-------\n'

In [36]:
B = [2,3,5,6,78,9,10,12]
# print only even numbers
for x in B:
  if x%2!=0:  #if number is odd
    continue
  print(x)

2
6
78
10
12

In [37]:
for x in B:
  if x%2==0:
    print(x)

2
6
78
10
12

In [38]:
'''Write a program that prints all numbers from 1 to 20 except those divisible by 3. Use the condition statement to skip the unwanted numbers.'''

for x in range(1,21):
  if x%3==0:
    continue
  print(x)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [43]:
'''You have a list of mixed data types.
print only integers, skipping everything
else using the continue statement.'''
data = [42,"hello",3.14,7,"world",10]
for x in data:
  if type(x)!=int:
    continue
  print(x)

42
7
10

In [44]:
data = [42,"hello",3.14,7,"world",10]
for x in data:
  if type(x)==float or type(x)==str:
    continue
  print(x)

42
7
10