<a href="https://colab.research.google.com/github/ovnarayana/Data-science/blob/main/Operators_in_Data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String slicing and indexing

In [4]:
text = "python is easy"
list(enumerate(text))

[(0, 'p'),
 (1, 'y'),
 (2, 't'),
 (3, 'h'),
 (4, 'o'),
 (5, 'n'),
 (6, ' '),
 (7, 'i'),
 (8, 's'),
 (9, ' '),
 (10, 'e'),
 (11, 'a'),
 (12, 's'),
 (13, 'y')]

In [2]:
# fetch i using positive indexing
text[7]

'i'

In [3]:
# fetch is
text[7:9]

'is'

In [5]:
# fetch "on is ea"
text[4:12]

'on is ea'

In [6]:
# fetch "to se"
text[2:11:2]

'to se'

In [8]:
B = "Data science"
list(enumerate(B))

[(0, 'D'),
 (1, 'a'),
 (2, 't'),
 (3, 'a'),
 (4, ' '),
 (5, 's'),
 (6, 'c'),
 (7, 'i'),
 (8, 'e'),
 (9, 'n'),
 (10, 'c'),
 (11, 'e')]

In [10]:
# fetch S using negative indexing
B[-7]

's'

In [12]:
# fetch "ata Sci" using negative indexing
B[-11:-4]

'ata sci'

In [13]:
# fetch "scien"
B[-7:-2]

'scien'

In [15]:
# fetch "neics"
B[-3:-8:-1]

'neics'

In [16]:
# fetch "ics ata"
B[-5:-12:-1]

'ics ata'

In [17]:
# Are strings a Mutable??
B= "Data Science"

# Note

Strings are Immutable(we cannot modify)

In [20]:
# change S as s
#B[5] = 'S'

# Python Operators
 * Arithmetic operators
 * Assignment operators
 * comparison operators
 * Logical Operators
 * identity operators
 * Membership operators

# Arithmetic Operators
* addition(+)
* Subtraction(-)
* Multiplication(*)
* exponential(**)
* Division (/)
* floor division(//)
* modulus (%)

In [23]:
# addition(+): It is used to add two or more elements
a = 100
b = 50
c = a + b
print("addition:", c)

addition: 150

In [24]:
# Subtraction(-): It is used to find the difference between 2 or more numbers
a = 100
b = 20
c = a - b
print("Subtraction:",c)

Subtraction: 80

In [25]:
# Multiplication (*): It is used to multiply 2 or more numbers
a = 10
b = 20
prod = a*b
print("Multiplication:",prod)

Multiplication: 200

In [26]:
# division (/): It is used to divide one number by other
a = 100
b = 20
div = a/b
print("Division:", div)

Division: 5.0

In [28]:
# exponential(**): power of a number
# 2 power 3
a = 2
b = 3
power = a**b
print("2 power 3 is:", power)

2 power 3 is: 8

In [29]:
# floor division(//) (integer): It returns integer result upon division
a = 5
b = 3
print("Division: ",a/b)
print("floor division:",a//b)

Division:  1.6666666666666667
floor division: 1

In [30]:
#Modulus(%): it returns remainder value upon division
a = 5
b = 2
print("5 modulo 2 is: ", a%b)

5 modulo 2 is:  1

In [31]:
# even: num%2==0(number is divisible by 2)
# odd: num%2!=0 (number is not divisible by 2)

# Comparison operators
##Comaprison operators are used to compare values.

* equal(==)
* not equal (!=)
* greater than (>)
* less than (<)
* greaterthan or equal (>=)
* less than or equal (<=)

In [32]:
a = 100
b = 20

In [34]:
#is a same as b
print(a==b)

False

In [35]:
a = 10
b = 10

In [36]:
print(a==b)

True

In [37]:
x = 50
y = 40

In [38]:
print(x!=y)

True

In [40]:
x = 40
y = 40
print(x!=y)

False

In [42]:
print (x > y)
print (x < y)
print (x >= y)
print (x <= y)

False
False
True
True

#Logical operators

## It is used to compare multiple conditions

* and
* or
* not

# and:

## if all the conditions are true it returns true otherwise false.

In [43]:
'''
T and T --> True
T and  F ---> False
F and  T ---> False
F and F ----> False '''

'\nT and T --> True\nT and  F ---> False\nF and  T ---> False\nF and F ----> False '

In [44]:
(10>3) and (200>30)
# T and T: T

True

In [45]:
(100 > 3) and (1000> 200) and (400>50)

True

In [46]:
(1000>500) and (20>3000)
# T and F = F

False

In [47]:
(30>300) and (50>500) and (60>6000)
# F and F and F= F

False

# or:
## it returns true if either of the condition is true , otherwise False.

In [48]:
'''
T or T -->  T
T or  F ---> T
F or  T ---> T
F or F ----> F '''

'\nT or T -->  T\nT or  F ---> T\nF or  T ---> T\nF or F ----> F '

In [49]:
(100>20) or (20>4)
# T or T =T

True

In [50]:
(10>2) or (40>4) or (400>50) or (5> 500)
# T or T or T or F

True

In [51]:
(2>100) or (4>500) or (7>300)
# F or F or F = F

False

# not:
## if condition is True it returns false and vice versa

In [52]:
not(100 > 30)

False

In [53]:
not(2> 2000)

True

# order of precedence
* Parenthesis ()
* comparison(==,!=,<,><=,>=)
* not
* and
* or

In [54]:
(10 > 100) and (30 < 20) or (2 > 200) or not(5==6)
# False and False or False or not(False)
# False and False or False or True
# False or False or True
# True

True

In [55]:
(100>20) or not(20 >=30) and (10==10) or not(20<40)
# (T or T) and (T or f)
#T

True

# Assignment Operators

In [56]:
# Addition(+=) assignment operator
salary = 30000
# Increment salary by 20000
# salary = salary + 20000
salary+=20000
print(salary)

50000

In [58]:
a = 100
# increase a by 50
# a = a+50
a +=50
print(a)

150

In [59]:
# subtraction(-=) assignment
salary = 50000
# decrease salary by subtracting it with 20000
# salary=salary-20000
salary -= 20000
print(salary)

30000

In [60]:
age = 50
# reduce age to 30
age-=20
print(age)

30

In [61]:
# multiplication(*=)
salary = 10000
# multiple actual salary with 6
salary*=6
print(salary)

60000

In [62]:
# division(/=)
a = 100
# divide a by 5
a/=5
print(a)

20.0

# Identity operators
## It is used to check whether two variables has same values or not.

* is (==)
* is not(!=)

In [63]:
# is : operator gives True if both variables has same values else it gives false.
a = 10
b = 20
print(a is b)

False

In [64]:
a = 20
b = 20
print(a is b)

True

In [65]:
# is  not: operator gives False if both variables has same values else it gives True.
a = 10
b = 20
print( a is not b)

True

In [66]:
a = 10
b = 10
print( a is not b)

False

# Membership operators
It is used to find any character or element present in object or not.
* in
* not in

In [67]:
# in : It returns True if present else False
colors = ["blue", "green", "orange", "yellow"]
# Is green present in colors
'green' in colors

True

In [68]:
'black' in colors

False

In [69]:
# not in : It returns False if present else True
'orange' not in colors

False

In [70]:
'black' not in colors

True

In [71]:
B ='python'
# check t is in B or not
't' in B

True

# List

In [1]:
# + : Used to combine two or more lists
A = [1,2,3]
B = [3,4,5]
print(A+B)

[1, 2, 3, 3, 4, 5]

In [2]:
A = [1,2,3]
B = [3,4,5]
C = [10,20,30]
print(A+B+C)

[1, 2, 3, 3, 4, 5, 10, 20, 30]

In [11]:
# * : In list * used to repeat list elements
A = [1,2,3]
B = [4,5,6]
print(A*2)

[1, 2, 3, 1, 2, 3]

In [8]:
A * B

TypeError: can't multiply sequence by non-int of type 'list'

In [9]:
A = [1,2,3]
B = [3,4,5]
print(A/B)

TypeError: unsupported operand type(s) for /: 'list' and 'list'

# tuple

In [12]:
X = (1,2,3)
Y = ('a','b','c')
X + Y

(1, 2, 3, 'a', 'b', 'c')

In [13]:
X = (1,2,3)
X*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

# set

In [14]:
A={1,2,3}
B={4,5,6}
A+B

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [15]:
A={1,2,3}
print(A*2)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [18]:
A={1,2,3}
B={4,5,6}
# |: used to combine two or more sets
A|B # union

{1, 2, 3, 4, 5, 6}

In [19]:
A={1,2,3,4,5}
B={4,5,6}
A&B # Intersection:   common elemnets from two list

{4, 5}

In [20]:
A={1,2,3,4}
B={4,5,6}
A-B # all the elements of A which are not in B

{1, 2, 3}

In [21]:
B-A # all the elements from B which are not in A

{5, 6}

# Strings

In [22]:
a = "Hello "
a * 3

'Hello Hello Hello '

In [23]:
a = "Data"
b = "Science"
# DataScience
a + b

'DataScience'

In [24]:
# Data-Science
a + '-'+ b

'Data-Science'

In [25]:
# Data Science
a + ' ' + b

'Data Science'

In [26]:
A ='Jeevitha'

In [27]:
A[-1:-4:-1]

'aht'

In [28]:
A[-3::]

'tha'

In [29]:
# when you want n characters from right side
# A[-n::]